lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# Node.js specific files
npm-debug.log
node_modules

# OS X specific files
.DS_Store
*.DS_Store

# Application upload directory
uploads/*
!uploads/README.md

# Amazon Web Services specific files
.elasticbeanstalk/

.nodemonignore
client/lib

.idea/dictionaries/*
.idea/workspace.xml
.idea/tasks.xml

# IntelliJ IDEA artifacts
.idea
*.iml
*.iws

# Karma coverage reports
client/coverage