.container
  .row
    .col-md-12
      .row
        .col-md-12
          h3 Welcome to Squares
          h4 Click a button below to start.
      .row
        .col-md-12
          p
            a.btn.btn-lg.btn-success(href="#!/schedules") Create a new schedule
          p
            a.btn.btn-lg.btn-success(href="#!/tasks") Create a new task