extends layouts/default

block content
  .as-core(ng-controller="coreController")
    .as-flash
      .as-flash-alert.fade(flash-alert="info", active-class="in alert", duration="0")
        i.fa.fa-info
        button.close(type="button", ng-click="hide()") &times;
        span.alert-message {{flash.message}}
      .as-flash-alert.fade(flash-alert="success", active-class="in alert", duration="0")
        i.fa.fa-check
        button.close(type="button", ng-click="hide()") &times;
        span.alert-message {{flash.message}}
      .as-flash-alert.fade(flash-alert="error", active-class="in alert", duration="0")
        i.fa.fa-times
        button.close(type="button", ng-click="hide()") &times;
        span.alert-message {{flash.message}}
      .as-flash-alert.fade(flash-alert="warn", active-class="in alert", duration="0")
        i.fa.fa-warning
        button.close(type="button", ng-click="hide()") &times;
        span.alert-message {{flash.message}}
    section(ng-view)