/*! anna-squares - v0.1.3 - 29-12-2013 */
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;padding-top:45px;background:#ccc}
b,strong,.strong{font-weight:bold}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-weight:normal}
h1,h2,h3{margin-top:10px}
a,a:hover,a:active,a:focus,.btn:hover,.btn:active,.btn:focus{outline:0;outline:none}
.jumbotron{font-weight:normal}
.jumbotron > h3{margin-bottom:21px}
.navbar{font-weight:normal}
.navbar-inverse{border-color:#222}
.navbar .dropdown-menu > li > a,.navbar .dropdown-menu > li > a:focus{font-weight:normal}
.dropdown-menu{border-radius:0;border:1px solid #9a9a9a;-moz-box-shadow:3px 3px 3px rgba(0,0,0,0.22);-webkit-box-shadow:3px 3px 3px rgba(0,0,0,0.22);box-shadow:3px 3px 3px rgba(0,0,0,0.22)}
.dropdown-menu > li > a:hover,.dropdown-menu > li > a:focus{color:#333;background-color:#f2f2f2;cursor:pointer}
.navbar-inverse .navbar-brand{color:#fff}
.navbar-inverse .navbar-nav > li > a{color:#fff}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus{color:#fff;background-color:#333}
.navbar-inverse .navbar-nav > li > a:active{color:#fff;background-color:#333}
label,.control-label,.help-block,.checkbox,.radio{font-size:13px;font-weight:bold}
hr{margin-top:0;margin-bottom:5px;border-top:1px solid #ccc}
pre{border-radius:0}
.alert{border-radius:0}
.as-container-full{width:100%;min-height:45px;margin:0}
.as-jumbotron-top{background:#065fa3}
.as-jumbotron-bottom{background:#3f4245}
.as-container-full .jumbotron{padding:0;background:transparent;color:#fff}
.as-btn-hollow{background:none;color:#fff}
.btn-md.as-btn-hollow{padding:10px 28px}
.btn{outline:0;border-radius:0;color:#333}
.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{color:#333}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{color:#333}
.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{color:#333}
.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{color:#333}
.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{color:#333}
.navbar-nav>li.as-accent{background:#484848}
.form-control{border-radius:0;outline:none;border:1px inset #ccc;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;transition:none}
.date-control{padding:6px 12px;vertical-align:middle;text-align:center;width:250px;height:34px;margin-left:10px;border-radius:0;outline:none;border:1px inset #ccc;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;transition:none}
.glyphicon{color:#333}
.well{margin-bottom:10px;background:#f2f2f2;border:0;border-radius:0;-webkit-box-shadow:none;box-shadow:none}
.well-lg{border-radius:0}
.well-sm{border-radius:0}
.as-content-container{background:#fff}
.as-noborder{border:none}
.as-footer{padding-top:10.5px;font-size:13px}
.as-footer a,.as-footer a:hover,.as-footer a:focus{color:#000;text-decoration:none}
.as-footer .as-copyright{color:#999}
.as-footer .as-license{color:#999}
.as-form{font-size:13px}
.as-form p{line-height:1.1}
.as-form .as-field-help{margin-top:5px}
.panel-default > .panel-heading{background-color:#dadada;border-color:#dadada}
.as-accessory-btn-group{margin-bottom:15px}
.as-sidenav{margin-top:30px;margin-bottom:30px;padding-top:10px;padding-bottom:10px;background-color:#fff;border-radius:0;max-height:380px;overflow-y:auto;border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #000;border-bottom:1px solid #000}
.as-sidebar .nav > li > a{display:block;color:#333;padding:5px 20px;border-left:3px solid transparent}
.as-sidebar .nav > li > a:hover,.as-sidebar .nav > li > a:focus{text-decoration:none;color:#333;background-color:#f2f2f2;border-left:3px solid #333;font-weight:normal}
.as-sidebar .nav > .active > a,.as-sidebar .nav > .active:hover > a,.as-sidebar .nav > .active:focus > a{font-weight:bold;color:#333;background-color:#ccc;border-left:3px solid #065fa3;font-weight:normal}
.as-sidebar .nav .nav{display:none;margin-bottom:8px}
.as-sidebar .nav .nav > li > a{padding-top:3px;padding-bottom:3px;padding-left:30px;font-size:90%}
@media (min-width: 992px){.as-sidebar .nav > .active > ul{display:block}
.as-sidebar.affix-bottom{position:aasolute}
.as-sidebar.affix-bottom .as-sidenav,.as-sidebar.affix .as-sidenav{margin-top:0;margin-bottom:0}
}.as-btn-offset{margin-top:22px}
@media (max-width: 992px){.as-btn-offset{margin-top:0;margin-bottom:10px}
}.as-schedule-well{margin-top:15px;text-align:center}
.as-schedule-well span{margin:10px 0}
.calendar-btn,.time-btn{border:1px solid #999}
.as-schedule-grid{margin:10px 0;border-left:1px solid #ccc;border-top:1px solid #ccc;border-right:1px solid #000;border-bottom:1px solid #000;width:100%;min-height:300px}
.as-schedule-grid table{margin-bottom:0}
.as-schedule-notes{margin-bottom:10px}
table{font-size:13px}
thead{background:#ccc}
td{text-align:center}
td > input{width:100%}
.alert{padding:10px;margin:10px 0 0 0;border-radius:0}
.table-bordered{border:1px solid #999}
.table > thead > tr > th,.table > tbody > tr > th,.table > tfoot > tr > th,.table > thead > tr > td,.table > tbody > tr > td,.table > tfoot > tr > td{line-height:1.428571429;vertical-align:middle}
.table-bordered > thead > tr > th,.table-bordered > tbody > tr > th,.table-bordered > tfoot > tr > th,.table-bordered > thead > tr > td,.table-bordered > tbody > tr > td,.table-bordered > tfoot > tr > td{border:1px solid #999}
.table-hover > tbody > tr:hover > td,.table-hover > tbody > tr:hover > th{background-color:#f2f2f2}
.table > tbody > tr > td.row-btn{background-color:#ccc;text-align:center;padding:5px 10px}
input[type="radio"],input[type="checkbox"]{display:inline;margin:0;width:auto}
button[disabled],html input[disabled]{cursor:not-allowed;background-color:#ddd}
.form-control{font-size:13px;border:1px inset #ccc;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-webkit-transition:none;transition:none}
@media (max-width: 767px){.table-responsive{overflow-x:auto}
}