/*! anna-squares - v0.1.7 - 12-01-2014 */
.as-flash{margin-top:-5px;margin-left:-15px;margin-right:-15px;margin-bottom:0;min-height:5px}
@media (min-width:768px){.as-flash{margin-top:-15px;margin-left:-25px;margin-right:-25px;margin-bottom:0;min-height:15px}
}.as-flash-alert{margin:0}
.as-flash-alert > i{margin-right:5px}
.as-flash > div.as-flash-alert{display:none}
.as-flash > div.as-flash-alert.in.alert{display:inherit}
