.container
  .row
    .col-md-12
      .row
        .col-md-12
          h3 Schedule
      .row
        .col-md-9
          .row
            .col-md-12
              .well.well-sm(style="display:inline-block;", ng-model="startTime", ng-change="timeChanged()")
                label.control-label Start Time
                timepicker(hour-step="hourStep", minute-step="minStep", show-meridian="isMeridian")
          .row
            .col-md-12
              .alert.alert-danger(ng-show="formAlert") {{formAlert}}
          .row
            form.ls-form(name="scheduleFormOuter", ng-submit="addScheduleItem()", novalidate)
              div(ng-repeat="formField in formFields")
                .col-md-4
                  ng-form(name="scheduleFormInner")
                    .form-group(ng-class="{'has-error' : scheduleFormInner.fieldInput.$dirty && scheduleFormInner.fieldInput.$invalid}")
                      label.control-label {{formField.label}}
                      input.form-control(
                        type="{{formField.type}}",
                        name="fieldInput",
                        ng-model="formData[formField.model]",
                        ng-required="{{formField.isRequired}}")
                      div(ng-show="scheduleFormInner.fieldInput.$dirty && scheduleFormInner.fieldInput.$invalid")
                        p.has-error.help-block(ng-show="scheduleFormInner.fieldInput.$error.required") This field is required.
              .col-md-4
                button(type="submit").btn.btn-md.btn-success
                  | <span class="glyphicon glyphicon-plus"></span>
                  | Add task
          .row
            .col-md-12
              p
                a.btn.btn-md.btn-success(href="/") Copy this schedule to today
        .col-md-3
          .ls-sidebar.hidden-print.affix(role="complementary")
            ul.nav.ls-sidenav
              li.active
                a(href='/') Today's Schedule
              li
                a(href='/') Schedule 2
              li
                a(href='/') Schedule 3
              li
                a(href='/') Schedule 4
              li
                a(href='/') Schedule 5
              li
                a(href='/') Schedule 6
              li
                a(href='/') Schedule 7
              li
                a(href='/') Schedule 8
              li
                a(href='/') Schedule 9
              li
                a(href='/') Schedule 10
              li
                a(href='/') Schedule 11
              li
                a(href='/') Schedule 12
              li
                a(href='/') Schedule 13