.container.ls-container-full.ls-jumbotron-top
.container
  .row
    .col-md-12
      .row
        .col-md-12
          h3 Schedule
          h4 Saturday, December 14, 2013
      .row
        .col-md-12
          h4 Test.