.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-magic.fa-1x
        |  Sign Up
      h4 AnnaSquares is free and it always will be.
  .row
    .col-lg-6
      include ../partials/formBody.jade
    .col-lg-6
      include ../partials/formFooter.jade
      button(
        type="button",
        ng-disabled="inputForm.$pristine || inputForm.$dirty && inputForm.$invalid",
        ng-click="processForm()").btn.btn-md.btn-primary
          span Create An Account