doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', ng-app="annaSquaresApp")
  include ../includes/header
  body
    .navbar.navbar-default.navbar-inverse.navbar-fixed-top(data-ng-include="'views_build/header/index.html'", data-role="navigation")
    .container.as-container-full.as-jumbotron-top
    block content
    footer(data-ng-include="'views_build/footer/index.html'")
    include ../includes/footer