.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-exclamation-triangle.fa-1x
        | &nbsp;Error
      h4 403 - Forbidden
      p You do not have permission to access this resource.