.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-exclamation-triangle.fa-1x
        | &nbsp;Error
      h4 500 - Internal server error
      p We apologize, but an internal server error has occurred. This event has been logged. Please contact support if this issue continues.