.row
  .col-lg-12
    h3
      i.fa.fa-tasks.fa-1x
      | &nbsp;Schedules
.row
  .col-lg-3
    ul(ng-repeat='scheduleItem in scheduleMap')
      li {{ scheduleItem }}
  .col-lg-9
    div(ui-view)
.row
  .col-lg-12
    pre {{ scheduleMap }}