.row
  .col-lg-12
    h3
      i.fa.fa-tasks.fa-1x
      |  Schedules
.row
  .col-lg-3
    ul
      li Schedule 1
      li Schedule 2
      li Schedule 3
      li Schedule 4
      li Schedule 5
      li Schedule 6
      li Schedule 7
      li Schedule 8
  .col-lg-9
    div(ui-view)