.row
  .col-lg-12
    h3
      i.fa.fa-tasks.fa-1x
      | &nbsp;Schedules
.row
  .col-lg-12
    include _toolbar.jade
.row(ng-show='!scheduleMap.length')
  .col-lg-12
    h4 You do not have any saved schedules yet.
.row(ng-show='scheduleMap.length')
  .col-lg-3
    ul(ng-repeat='scheduleItem in scheduleMap')
      li {{ scheduleItem }}
  .col-lg-9
    div(ui-view)