ul.nav.navbar-nav.as-side-nav(data-ng-controller='MainToolbarCtrl')
  li(ng-repeat='item in itemMap')
    a(ng-disabled='{{ item.disabled }}', ng-href='{{ item.action }}')
      i(class='{{ item.icon }}')
      | &nbsp;{{ item.name }}