doctype html
html(lang='en', data-ng-app='anna-squares')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title= appName
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="organization, healthcare, timetracking")
    meta(name="description", content="#{appName}")

    link(href='/img/icons/favicon.ico', rel='shortcut icon', type='image/x-icon')

    if (settings.env == 'development' || settings.env == 'test')
      link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
    if (settings.env == 'production' || settings.env == 'stage' || settings.env == 'travis')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css')
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

    link(rel='stylesheet', href='/dist/anna-squares.css')

    script(type='text/javascript', src='/lib/modernizr/modernizr.js')

    // Facebook redirect fix
    script(type="text/javascript").
      if (window.location.href.indexOf('#_=_') > 0) {
        window.location = window.location.href.replace(/#.*/, '');
      }

  body(data-ng-cloak)
    #as-wrapper
      nav.navbar.navbar-inverse.navbar-fixed-top(data-role="navigation")
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(ui-sref='home')
            | AnnaSquares
            sub  beta
        .collapse.navbar-collapse.navbar-ex1-collapse
          ul.nav.navbar-nav.as-side-nav(data-ng-controller="SidebarCtrl")
            li
              a(href="#!/schedules")
                i.fa.fa-plus
                | &nbsp;Start New Schedule...
            li
              a(href="#")
                i.fa.fa-edit
                | &nbsp;Edit Schedule
            li
              a(href="#")
                i.fa.fa-copy
                | &nbsp;Copy Previous Schedule
            li
              a(href="#")
                i.fa.fa-print
                | &nbsp;Print Schedule...
            li
              a(href="#")
                i.fa.fa-envelope
                | &nbsp;Email Schedule...
            li
              a(href="#")
                i.fa.fa-share
                | &nbsp;Share Schedule With...
            li
              a(href="#")
                i.fa.fa-book
                | &nbsp;Help and Documentation
            li.divider
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown")
                i.fa.fa-trash-o
                | &nbsp;Delete Schedule
                | <b class="caret"></b>
              ul.dropdown-menu
                li
                  .panel.panel-danger
                    .panel-heading
                      p Are you sure? This cannot be undone.
                      .btn-group
                        button.btn.btn-danger(type="button") Yes
          ul.nav.navbar-nav.navbar-right.as-user-nav(data-ng-controller="NavCtrl")
            li(ng-class="{ active: $state.includes('signin') }", data-access-level='accessLevels.anon', active-nav)
              a(ui-sref='signin')
                i.fa.fa-sign-in
                | &nbsp;Sign In
            li(ng-class="{ active: $state.includes('register') }", data-access-level='accessLevels.anon', active-nav)
              a(ui-sref='register')
                i.fa.fa-magic
                | &nbsp;Register
            li(data-access-level='accessLevels.user', active-nav)
              a(ng-href='/{{ user.username }}')
                i.fa.fa-dashboard
                | &nbsp;Dashboard
            li(data-access-level='accessLevels.user', active-nav)
              a(ng-href='/{{ user.username }}/schedules')
                i.fa.fa-tasks
                | &nbsp;Schedules
            li(data-access-level='accessLevels.user', active-nav)
              a(ng-href="/{{ user.username }}/feedback")
                i.fa.fa-comment
                | &nbsp;Send Feedback
            li.dropdown.notifications-dropdown(data-access-level='accessLevels.user')
              a.dropdown-toggle(ng-href="#", data-toggle="dropdown")
                i.fa.fa-thumb-tack
                | &nbsp;Notifications
                | <span class="badge">2</span>
                | <b class="caret"></b>
              ul.dropdown-menu
                li.dropdown-header.strong 2 Notifications
                li.notification-preview
                  a(ng-href="#")
                    span.avatar
                      img.img-rounded(ph-img="80x80")
                    span.name Adam Cook
                    span.notification This is a notification. This notification is very important.
                    span.time
                      i.fa.fa-clock-o
                      | &nbsp;4:34 PM
                li.divider
                li.notification-preview
                  a(ng-href="#")
                    span.avatar
                      img.img-rounded(ph-img="80x80")
                    span.name Adam Cook
                    span.notification This is a sample notification. This notification is very important.
                    span.time
                      i.fa.fa-clock-o
                      | &nbsp;4:34 PM
                li.divider
                li
                  a(ng-href="#")
                    | View All Notifications
            li.dropdown.alerts-dropdown(data-access-level='accessLevels.user')
              a.dropdown-toggle(ng-href="#", data-toggle="dropdown")
                i.fa.fa-bullhorn
                | &nbsp;Alerts
                | <span class="badge">3</span>
                | <b class="caret"></b>
              ul.dropdown-menu
                li.dropdown-header.strong 3 Alerts
                li.alert-preview
                  a(ng-href="#")
                    span.name.label.label-info Information
                    span.alert This is an informational alert about the application.
                    span.time
                      i.fa.fa-clock-o
                      | &nbsp;4:34 PM
                li.divider
                li.alert-preview
                  a(ng-href="#")
                    span.name.label.label-danger Notice
                    span.alert This is an warning alert about the application.
                    span.time
                      i.fa.fa-clock-o
                      | &nbsp;4:34 PM
                li.divider
                li.alert-preview
                  a(ng-href="#")
                    span.name.label.label-danger Notice
                    span.alert This is an warning alert about the application.
                    span.time
                      i.fa.fa-clock-o
                      | &nbsp;4:34 PM
                li.divider
                li
                  a(ng-href="#")
                    | View All Alerts
            li.dropdown.user-dropdown(data-access-level='accessLevels.user')
              a.dropdown-toggle(ng-href="#", data-toggle="dropdown")
                i.fa.fa-user
                | &nbsp;{{ user.username }}
                | <b class="caret"></b>
              div.dropdown-menu
                div.user-dropdown-avatar
                  a(ng-href="#")
                    div
                      img.img-rounded(ph-img="80x80")
                div.user-dropdown-links
                  ul
                    li
                      a(ng-href="#")
                        i.fa.fa-user
                        | &nbsp;Profile
                    li
                      a(ng-href="#")
                        i.fa.fa-group
                        | &nbsp;Partners
                    li
                      a(ng-href="#")
                        i.fa.fa-gear
                        | &nbsp;Settings
                    li.divider
                    li
                      a(ng-href="", data-ng-click="signout()")
                        i.fa.fa-sign-out
                        | &nbsp;Sign Out
      #as-page-wrapper
        .alert.alert-success(data-ng-bind="success", data-ng-show="success")
        .alert.alert-info(data-ng-bind="info", data-ng-show="info")
        .alert.alert-warning(data-ng-bind="warning", data-ng-show="warning")
        .alert.alert-danger(data-ng-bind="danger", data-ng-show="danger")
        // div(data-ng-view='ng-view')
        div(ui-view)
        .as-footer
          .row
            .col-lg-12
              span.as-copyright © 2013 - 2014
                a(ng-href="http://www.adamjcook.io") &nbsp;Adam Joseph Cook
              br
              span.as-license Code for the application is completely open-source and is licensed under
                a(ng-href="https://github.com/adamjcook/anna-squares/blob/master/LICENSE", target="_blank") &nbsp;The MIT License.
              br
              span.as-license Some of the icons used are generously provided by
                a(ng-href="http://glyphicons.com/") &nbsp;Glyphicons.
              br
              span.as-license Many thanks to all the
                a(ng-href="https://github.com/adamjcook/anna-squares/blob/master/CONTRIBUTORS.md", target="_blank") &nbsp;project contributors.
          .row
            .col-lg-12
              ul.list-inline
                li
                  strong
                    a(ng-href="/about/contributing") Contributing
                li
                  strong
                    a(ng-href="http://blog.annasquares.com") Blog
                li
                  strong
                    a(ng-href="/about/terms") Terms
                li
                  strong
                    a(ng-href="/about/privacy") Privacy
                li
                  strong
                    a(ng-href="/about/contact") Contact
                li
                  strong
                    a(ng-href="/about") About
    if (settings.env == 'development')
      script(src='//localhost:35729/livereload.js')
  footer
    if (settings.env == 'development' || settings.env == 'test')
      script(src='/lib/jquery/jquery.min.js')
      script(src='/lib/jquery-ui/ui/minified/jquery-ui.min.js')
      script(src='/lib/jqueryui-touch-punch/jquery.ui.touch-punch.min.js')
      script(src='/lib/bootstrap/dist/js/bootstrap.min.js')
      script(src='/lib/underscore/underscore-min.js')
      script(src='/lib/angular/angular.min.js')
      script(src='/lib/angular-cookies/angular-cookies.min.js')
      // script(src='/lib/angular-route/angular-route.min.js')
      script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/lib/angular-placeholders/src/img/img.js')
      script(src='/lib/angular-asc-ui/dist/asc-ui-tpls.min.js')
      script(src='/lib/angular-ui-sortable/src/sortable.js')
      script(src='/lib/momentjs/min/moment.min.js')
    if (settings.env == 'production' || settings.env == 'stage' || settings.env == 'travis')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.2/jquery.ui.touch-punch.min.js')
      script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-cookies.min.js')
      // script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-route.min.js')
      script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
      script(src='/lib/angular-asc-ui/dist/asc-ui-tpls.min.js')
      script(src='/lib/angular-ui-sortable/src/sortable.js')
      script(src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.0/moment.min.js')

    script(src='/dist/common.js')
    script(src='/dist/anna-squares.js')

    // Load all partial views
    script(type="text/ng-template", id="404")
      include partials/404
    script(type="text/ng-template", id="500")
      include partials/500
    script(type="text/ng-template", id="home")
      include partials/home
    script(type="text/ng-template", id="signin")
      include partials/signin
    script(type="text/ng-template", id="dashboard")
      include partials/dashboard
    script(type="text/ng-template", id="schedules/list")
      include partials/schedules/list
    script(type="text/ng-template", id="schedules/detail")
      include partials/schedules/detail
    script(type="text/ng-template", id="schedules/form")
      include partials/schedules/form
    script(type="text/ng-template", id="feedback")
      include partials/feedback
    script(type="text/ng-template", id="register")
      include partials/register