.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-comment.fa-1x
        |  Feedback
      h4 Is something not working properly? Have a feature request?
      h4 Any feedback is welcome.
  .row
    .col-lg-6
      include ../partials/formBody.jade
  .row
    .col-lg-6
      include ../partials/formFooter.jade