.container.ls-footer(data-ng-controller="footerController")
  .row
    .col-md-12
      span.ls-copyright {{copyrightNotice}}
      br
      span.ls-license Code for the application is licensed under the 
        a(href="https://github.com/adamjcook/anna-squares/blob/master/LICENSE", target="_blank") The MIT License.
      br
      span.ls-license Icons used are generously provided by 
        a(href="http://glyphicons.com/") Glyphicons.
  .row
    .col-md-12
        ul.list-inline
          li(ng-repeat="link in links")
            strong
              a(href="{{link.url}}") {{link.title}}