.as-content-container
  .row
    .col-lg-12
      h3
        i.fa.fa-sign-in.fa-1x
        |  Sign In
      h4 Schedule management tailored for you.
  .row
    .col-lg-6
      include ../partials/formBody.jade
  .row
    .col-lg-6
      include ../partials/formFooter.jade